@using BugTracker.Service
@using BugTracker.Data
@using BugTracker.Services
@using BugTracker.Data.Enums 
@inject ICustomRoleService RoleService  
@inject ApplicationDbContext ApplicationDbContext 
@inject IImageService imageService
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="icon" href="~/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @*Tempusdominus Bbootstrap 4*@
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="sidebar-mini layout-fixed sidebar-collapse" onload=display_ct();  style="background-image: url('@ViewData["background"]');width:100%;height:auto; background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">

    <div >
        <!-- Sidebar -->

        @if (SignInManager.IsSignedIn(User))
        {
            <header>
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item d-none d-sm-inline-block">
                            <a style="color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><span class="iconify" data-icon="ant-design:home-filled" data-inline="true"></span> Home</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" style="color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" href="https://github.com/arthastheking113" target="_blank"><span class="iconify" data-icon="akar-icons:github-fill" data-inline="true"></span> Github</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" style="color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" href="https://www.linkedin.com/in/duy-lan-le-445262163/" target="_blank"><span class="iconify" data-icon="akar-icons:linkedin-fill" data-inline="true"></span> Linkedin</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" style="color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" href="https://duylanle-portfolio.netlify.app/" target="_blank"><span class="iconify" data-icon="dashicons:open-folder" data-inline="true"></span> My Portfolio</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" style="color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" asp-area="" asp-controller="Home" asp-action="Contact"><span class="iconify" data-icon="bx:bxs-phone-call" data-inline="true"></span> Contact</a>
                        </li>

                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="form-inline ml-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Right navbar links -->
                    <ul class="navbar-nav mr-auto">
                        <!-- Messages Dropdown Menu -->
                        @{
                            var userId = UserManager.GetUserId(User);

                            var replyParents = new List<int>();
                            replyParents.AddRange(ApplicationDbContext.Reply.Where(r => r.ReceiverId == userId && r.IsSeen == false).Select(r => r.InboxId));
                            var myNotifications = new List<Inbox>();
                            myNotifications.AddRange(ApplicationDbContext.Inbox.Where(i => replyParents.Contains(i.Id) || (i.ReceiverId == userId && i.IsSeen == false)));


                            var replyList = new List<InboxNotification>();
                            replyList.AddRange(ApplicationDbContext.InboxNotification.Where(n => !n.IsSeen && n.ReceiverId == userId));


                            var message = ApplicationDbContext.Inbox.Where(i => (i.ReceiverId == userId && i.IsSeen == false)).ToList();
                            var currentTime = DateTime.Now;
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-comments"></i>
                                @if (replyList.Count != 0)
                                {
                                    <span class="badge badge-danger navbar-badge">@replyList.Count</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger navbar-badge"></span>
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                @foreach (var mes in replyList)
                                {
                                    var timeSpan = currentTime.Subtract(mes.Created);
                                    var eslapseSecond = timeSpan.Seconds;
                                    var eslapseMinute = timeSpan.Minutes;
                                    var eslapseHours = timeSpan.Hours;
                                    var eslapseDate = timeSpan.Days;
                                    string commentdate;
                                    if (eslapseDate >= 1)
                                    {
                                        commentdate = eslapseDate.ToString() + " Days Ago";

                                    }
                                    else if (eslapseHours >= 1)
                                    {
                                        commentdate = eslapseHours.ToString() + " Hours Ago";
                                    }
                                    else if (eslapseMinute >= 1)
                                    {
                                        commentdate = eslapseMinute.ToString() + " Minutes Ago";
                                    }
                                    else
                                    {
                                        commentdate = eslapseSecond.ToString() + " Seconds Ago";
                                    }
                                    //((ApplicationDbContext.Reply.FirstOrDefault(i => i.Id == mes.InboxId)).InboxId)
                                    <a asp-controller="Inboxes" asp-action="Details" asp-route-id="@(mes.InboxId)" class="dropdown-item">
                                        <!-- Message Start -->
                                        <div class="media">
                                            <img src="@imageService.DecodeFileAvatar((await UserManager.FindByIdAsync((mes.SenderId))).ImageData, (await UserManager.FindByIdAsync((mes.SenderId))).ContentType)" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                            <div class="media-body">
                                                <h3 class="dropdown-item-title">
                                                    @((await UserManager.FindByIdAsync((mes.SenderId))).FullName)
                                                </h3>
                                                <p class="text-sm">@mes.Subject</p>
                                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@commentdate</p>
                                            </div>
                                        </div>
                                        <!-- Message End -->
                                    </a>
                                    <div class="dropdown-divider"></div>
                                }


                                <a asp-controller="Inboxes" asp-action="Index" class="dropdown-item dropdown-footer">See All Messages</a>
                            </div>
                        </li>
                        @{ 

                            var notification = ApplicationDbContext.Notification.Where(s => s.IsViewed == false).Where(n => n.RecipientId == userId).ToList();
                            var number_of_notification = notification.Count;
                           

                            //-------last notification time section---------------


                        }

                        <!-- Notifications Dropdown Menu -->
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                @if (number_of_notification != 0)
                                {
                                    <span class="badge badge-warning navbar-badge">@number_of_notification</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning navbar-badge"></span>
                                }

                            </a>
                            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right">
                                <span class="dropdown-item dropdown-header">@number_of_notification Notifications</span>
                                <div class="dropdown-divider"></div>
                                @foreach (var item in notification)
                                {

                                    var timeSpan2 = currentTime.Subtract(item.Created);
                                    var eslapseSecond2 = timeSpan2.Seconds;
                                    var eslapseMinute2 = timeSpan2.Minutes;
                                    var eslapseHours2 = timeSpan2.Hours;
                                    var eslapseDate2 = timeSpan2.Days;
                                    string commentdate2;
                                    if (eslapseDate2 >= 1)
                                    {
                                        commentdate2 = eslapseDate2.ToString() + " Days Ago";

                                    }
                                    else if (eslapseHours2 >= 1)
                                    {
                                        commentdate2 = eslapseHours2.ToString() + " Hours Ago";
                                    }
                                    else if (eslapseMinute2 >= 1)
                                    {
                                        commentdate2 = eslapseMinute2.ToString() + " Minutes Ago";
                                    }
                                    else
                                    {
                                        commentdate2 = eslapseSecond2.ToString() + " Seconds Ago";
                                    }
                                    <a asp-controller="Notifications" asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">
                                        <i class="fas fa-file mr-2"></i> @item.Name
                                    <span class="float-right text-muted text-sm">@commentdate2</span>
                                    </a>
                                    <br />
                                    <div class="dropdown-divider"></div>
                                }

                                <a asp-controller="Notifications" asp-action="Index" class="dropdown-item dropdown-footer">See All Notifications</a>
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto mr-auto">
                        <li class="nav-item dropdown">
                            <p id='ct' class="nav-item d-none d-sm-inline-block" style="padding:0;margin:0;color:black;font-size: 14px;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;"></p>
                        </li>
                    </ul>
                </nav>
                <!-- /.navbar -->
            </header>
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a asp-controller="Home" asp-action="Index" class="brand-link">
                    <img src="~/img/favicon.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
                    <span class="brand-text font-weight-light">Bug Tracker 2.0</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 d-flex">

                        <div class="image">
                            <img src="@imageService.DecodeFileAvatar((await UserManager.GetUserAsync(User)).ImageData,(await UserManager.GetUserAsync(User)).ContentType)" class="img-circle elevation-2" alt="User Image" />
                        </div>
                        <div class="info">

                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-block">@((await UserManager.GetUserAsync(User)).FullName)</a>

                        </div>
                    </div>
                    <nav>
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="border-bottom:1px solid #4f5962;">
                            <li class="nav-item">
                                <form id="logoutbutton" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    @*<button type="submit" style="color:#c2c7d0" class="nav-link btn btn-link">Logout</button>*@
                                </form>
                                <a class="nav-link" href="javascript:document.getElementById('logoutbutton').submit()">
                                    <i class="nav-icon fas fa-sign-out-alt"></i>
                                    <p>Logout</p>
                                </a>

                            </li>
                        </ul>
                    </nav>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                            <li class="nav-item">
                                <a asp-controller="Home" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Inboxes" asp-action="Index" class="nav-link">
                                    <i class="nav-icon fas fa-comments"></i>
                                    <p>Inbox</p>
                                </a>
                            </li>
                            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), Roles.Admin.ToString()))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Companies" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-building"></i>
                                        <p>
                                            Company
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-tasks"></i>
                                        <p>
                                            Project
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-ticket-alt"></i>
                                        <p>
                                            Ticket

                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="ManageRole" class="nav-link">
                                        <i class="nav-icon fas fa-people-arrows"></i>
                                        <p>
                                            Role's Management

                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="ManagerUserProject" class="nav-link">
                                        <i class="nav-icon fas fa-user-edit"></i>
                                        <p>
                                            Project User Management

                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-toolbox"></i>
                                        <p>
                                            Admin Tool
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-controller="TicketTypes" asp-action="Index" class="nav-link">
                                                <i class="fas fa-filter"></i>
                                                <p>Ticket Type</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Priorities" asp-action="Index" class="nav-link">
                                                <i class="fas fa-sort-alpha-down"></i>
                                                <p>Ticket Priority</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-controller="Status" asp-action="Index" class="nav-link">
                                                <i class="fas fa-battery-three-quarters"></i>
                                                <p>Ticket Status</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), Roles.ProjectManager.ToString()))
                            {
                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-tasks"></i>
                                        <p>
                                            Project
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-ticket-alt"></i>
                                        <p>
                                            Ticket

                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-controller="Projects" asp-action="ManagerUserProject" class="nav-link">
                                        <i class="nav-icon fas fa-user-edit"></i>
                                        <p>
                                            Project User Management
                                        </p>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-controller="Tickets" asp-action="Index" class="nav-link">
                                        <i class="nav-icon fas fa-ticket-alt"></i>
                                        <p>
                                            Ticket

                                        </p>
                                    </a>
                                </li>

                            }

                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

        }
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="content-wrapper">
                <main role="main">
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            <div>
                <main role="main">
                    @RenderBody()
                    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">About</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row pb-3">
                                        <div class="col">
                                            An issue tracking system (also ITS, trouble ticket system, support ticket, request management or incident ticket system) is a computer software package that manages and maintains lists of issues.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            Issue tracking systems are generally used in collaborative settings—especially in large or distributed collaborations—but can also be employed by individuals as part of a time management or personal productivity regime.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            These systems often encompass resource allocation, time accounting, priority management, and oversight workflow in addition to implementing a centralized issue registry.

                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                    <div class="modal fade" id="howtouse" tabindex="-1" aria-labelledby="howtouse" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="howtouse">How to use?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row pb-3">
                                        <div class="col">
                                            In order to test the Bug Tracker, you can simply click on Login as either Admin, Project Manager, Developer, or Submitter. To test all of the Bug Tracker functions, I recommend you to login as Demo Admin.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            Different role has different permission to do their work in the system. For example, Admin has every permission on the system, Project Manager have almost every permissions but can't modify the role of Admin. Developer and Submitter only can update ticket and submit file to the system.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            You can register your own account in the register section, if you do that, your role at after register will be developer.

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="whatcanbugtrackerdoes" tabindex="-1" aria-labelledby="whatcanbugtrackerdoes" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="whatcanbugtrackerdoes">About My Bug Tracker</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row pb-3">
                                        <div class="col">
                                            My Bug Tracker has every funtions of a complete production which is ready to use or sell to customer.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            My Bug Tracker has Authorization, Authendication, Securities, Create, Adjust Project and Ticket, Assign role to user, Assign ticket to user, Change Ticket's Priority, Status, or Type, Comment on Ticket, Attach file to Ticket and Project, Notification Alert through Email, Message system, and Overview the work of company.

                                        </div>
                                    </div>
                                    <div class="row pb-3">
                                        <div class="col">
                                            This is my biggest project and I put a lot of works on this project. After finished this Bug Tracker, I used it to track other project, and I'm still working on those projects right now. You can see it when you log in with Demo Admin or Demo Project Manager

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="contactme" tabindex="-1" aria-labelledby="contactme" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="contactme">How to Contact me?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <a href="https://www.linkedin.com/in/duy-lan-le-445262163/"  target="_blank" class="btn btn-primary btn-block text-white">
                                                <i class="fab fa-linkedin"></i> Linked
                                            </a>
                                        </div>


                                        <div class="col">
                                            <a href="https://duylanle-portfolio.netlify.app/" target="_blank" class="btn btn-info btn-block text-white">
                                                <i class="fas fa-folder-open"></i> Portfolio
                                            </a>
                                        </div>


                                        @*<div class="col">
                                            <a class="btn btn-secondary btn-block">
                                                How to use?
                                            </a>
                                        </div>*@
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col text-center">

                                            Email: arthastheking113@gmail.com
                                        </div>
                                        <div class="col text-center">
                                            Phone: 402-304-0329
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        }
            <footer class="footer text-muted text-center" style="border:none;background-color:#ffffff00">
                <div class="container" style="border:none;background-color:#ffffff00">
                    &copy; 2021 - BugTracker - Made by <a href="https://duylanle-portfolio.netlify.app/" target="_blank">Duy Lan Le</a>
                </div>
            </footer>

    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/pages/dashboard.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>
    @if (SignInManager.IsSignedIn(User))
    {
<script>
      // Charts is the Controller name, TypeChart is the action
        var Url1 = '@Url.Action("TypeChart", "Charts")'; // represent the endpoint 
        var Url2 = '@Url.Action("PriorityChart", "Charts")'; // represent the endpoint
        var Url3 = '@Url.Action("StatusChart", "Charts")'; // represent the endpoint
        //Step 2 - start the structure for our AJAX call
        $.post(Url1).then(function (response) {
            // Get context with jQuery - using jQuery's .get() method.
            var typeChartCanvas = $('#TicketTypeChart').get(0).getContext('2d')
            var donutData = {
                labels: response.labels,
                datasets: [
                    {
                        data: response.data,
                        backgroundColor: response.backgroundColor,
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var donutChart = new Chart(typeChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })
        });
        $.post(Url2).then(function (response) {
            // Get context with jQuery - using jQuery's .get() method.
            var priorityChartCanvas = $('#TicketPriorityChart').get(0).getContext('2d')
            var donutData = {
                labels: response.labels,
                datasets: [
                    {
                        data: response.data,
                        backgroundColor: response.backgroundColor,
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var donutChart = new Chart(priorityChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })
        });
        $.post(Url3).then(function (response) {
            // Get context with jQuery - using jQuery's .get() method.
            var statusChartCanvas = $('#TicketStatusChart').get(0).getContext('2d')
            var donutData = {
                labels: response.labels,
                datasets: [
                    {
                        data: response.data,
                        backgroundColor: response.backgroundColor,
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var donutChart = new Chart(statusChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })
        });
    
</script>
      }
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
