@model IEnumerable<BugTracker.Models.TicketHistory>

@{
    ViewData["Title"] = "Ticket Histories";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="card-title">Ticket Hitories</h3>          
            </div>
            <div class="card-body">
                <a class="btn btn-secondary" asp-action="Create">Create New</a>
                <table class="table">
                    <thead>
                        <tr>  
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Property)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OldValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NewValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ticket)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomUser)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>                                
                                <td>
                                    @item.Created.ToString("dd MMMM yyyy - hh:mm tt")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Property)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OldValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NewValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ticket.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomUser.FullName)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
