@model BugTracker.Models.Notification

@{
    ViewData["Title"] = "Details";
}


<br /><br /><br /><br />
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div class="card shadow-lg mb-5 bg-white rounded">
            <div class="card-header bg-dark">
                <h3 class="card-title">Notification Details</h3>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Sender)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Sender.FullName)
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Ticket)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Ticket.Name)
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        Ticket Description
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Ticket.Description)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Back to List</a>
                        <a class="btn btn-info" asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.TicketId"><i class="fas fa-eye"></i> View Ticket Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col"></div>
</div>

