@model BugTracker.Models.Notification

@{
    ViewData["Title"] = "Details";
}


<br /><br />
<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                Notification Details
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
               
                <div class="row">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Description)
                    </div>
                </div>
               
                <div class="row">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Sender)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Sender.FullName)
                    </div>
                </div>
              
                <div class="row">
                    <div class="col">
                        @Html.DisplayNameFor(model => model.Ticket)
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Ticket.Description)
                    </div>
                </div>

                <hr />
               <div class="row">
                   <div class="col text-center">
                       <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-arrow-left"></i> Back to List</a>
                       <a class="btn btn-info" asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.TicketId"><i class="fas fa-eye"></i> View Ticket Details</a>
                   </div>
               </div>
            </div>
        </div>
    </div>


    <div class="col-3"></div>
</div>

