@model IEnumerable<BugTracker.Models.CustomUser>
@using BugTracker.Services
@using BugTracker.Data
@inject ApplicationDbContext ApplicationDbContext 
@using BugTracker.Service
@inject IImageService imageService  
@{
    ViewData["Title"] = "User Overview";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-dark">
                <h3 class="card-title">User Overview</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Search Users" id="searchUser">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
               <table id="useroverview" class="table table-striped table-hover">
                   <thead>
                       <tr>
                           <th></th>
                           <th>
                               Full Name
                           </th>
                           <th>
                               Email
                           </th>
                           <th>
                               Phone Number
                           </th>
                           <th>
                               Company
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach (var user in Model)
                       {
                       <tr>
                           <td>
                               <img class="d-flex mr-3 rounded-circle" style="width:5%" src="@(imageService.DecodeFileAvatar(user.ImageData, user.ContentType))" />
                           </td>
                           <td>
                               @user.FullName
                           </td>
                           <td>
                               @user.Email
                           </td>
                           <td>
                               @user.PhoneNumber
                           </td>
                           <td>
                               @if (user.CompanyId != null)
                               {
                                   @(ApplicationDbContext.Company.FirstOrDefault(c => c.Id == user.CompanyId).Name)
                               }
                               else
                               {
                                   @user.CompanyId
                               }
                              
                           </td>
                       </tr>
                       }
                   </tbody>
               </table>
            </div>
        </div>
    </div>
</div>

