@model BugTracker.Models.ProjectAttachment
@using BugTracker.Services
@inject ICustomFileService CustomFileService
@using BugTracker.Data.Enums
@inject ICustomRoleService RoleService
@using BugTracker.Data
@inject ApplicationDbContext ApplicationDbContext
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bg-dark">
                <h3>Image Details</h3>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-6">
                        <div class="row">
                            <img style="width:80%;" src="@(CustomFileService.ConvertByteArrayToFile(Model.FileData,Model.FileName)) " />

                        </div>

                        <br />

                    <div class="row">
                        <div class="col text-right">
                            <a class="btn btn-secondary" asp-controller="ProjectAttachments" asp-action="DownloadFile" asp-route-id="@Model.Id"> <i class="fas fa-eye"></i> View Or <i class="fas fa-file-download"></i> Download File</a>
                        </div>
                        <div class="col text-left">
                            <a class="btn btn-secondary" href="@(CustomFileService.ConvertByteArrayToFile(Model.FileData,Model.FileName))" download="@(Model.FileName)">
                                <i class="fas fa-file-download"></i> Download File
                            </a>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Created)
                            </div>
                            <div class="col-sm-10">
                                @Model.Created.ToString("dddd, dd MMMM yyyy")
                            </div>
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Project)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.Project.Id)
                            </div>
                            <div class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CustomUser)
                            </div>
                            <div class="col-sm-10">
                                @Html.DisplayFor(model => model.CustomUser.FullName)
                            </div>
                        </div>
                        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), Roles.Admin.ToString()) || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), Roles.ProjectManager.ToString()))
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                            <a asp-action="Index">Back to List</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




