@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    ViewData["background"] = "/img/4kpic4.jpg";
}
<div class="sky-container">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
</div>
<div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div><div class="firefly"></div>
<div class="container-fluid" style="opacity: 0.57;">
    <br />
    <br /> <br /><br />
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-3half">
            <div class="shadow-lg p-3 mb-4 bg-dark rounded ">
                <div class="row">
                    <div class="col">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><h2 class="text-center" style="color:#1cd5db">Login</h2></a>
                    </div>
                    <div class="vertical-line"></div>
                    <div class="col">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><h2 style="color:darkgrey" class="text-center">Register</h2></a>
                    </div>
                </div>
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class=" button-big button button-a btn-block" style="background-color:#1cd5db;font-size: 130%;font-weight: 800;letter-spacing: 1px;text-transform: uppercase;border-radius: 0;font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;color:white;border:0;" type="submit">Login</button>
                    </div>
                </form>
                <hr />
                <div class="form-group">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>

                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                                <div class="socials text-center">
                                    <div class="row">
                                        <div class="col" style="padding-right:35px;"></div>
                                        <div class="col-6">
                                            <ul>
                                                <p class="text-center" style="padding-right:20px;">Or using other methods </p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    switch (provider.Name)
                                                    {
                                                        case "GitHub":
                                                            <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-github"></i></button></li>
                                                            break;
                                                        case "Google":
                                                            <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-google"></i></button></li>
                                                            break;
                                                        case "Twitter":
                                                            <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-twitter"></i></button></li>
                                                            break;
                                                        case "Facebook":
                                                            <li style="padding-right:10px; padding-bottom:20px;"><button style="border:none;" type="submit" class="ico-circle" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook"></i></button></li>
                                                            break;
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>
                            </form>
                        }
                    }
                </div>
                <div class="form-group mb-1">
                    <div class="row pb-3">
                        <div class="col">
                            <p>
                                <a class="text-white" style="text-decoration: initial;" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a class="text-white" style="text-decoration: initial;" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a class="text-white" style="text-decoration: initial;" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-secondary btn-block" @*onclick="about()"*@ data-toggle="modal" data-target="#aboutModal" id="aboutButton">
                                What is Bug Tracker?
                            </button>
                            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#whatcanbugtrackerdoes">
                                About My Bug Tracker
                            </button>
                            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#howtouse">
                                How to use?
                            </button>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col">
                            <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#contactme">
                                How to Contact me?
                            </button>
                        </div>
                    </div>
                    <div class="row pb-0 mb-0">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#DemoUserLogin">
                                Login As Demo User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
